# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env & secrets — NE JAMAIS COMMIT
.env
.env.local
.env.*.local
*.env
!.env.example

# logs
*.log
npm-debug.log*
logs/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db

# tmp
*.tmp
tmp/
